/* add css module styles here (optional) */

.CookieConsent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.4);
}

.CookieConsent.isHidden {
    display: none;
}

.CookieConsent__content {
    box-sizing: border-box;
    max-width: 780px;
    width: 100vw;
    max-height: 100vh;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: #fff;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

@media (min-width: 40em) {
    .CookieConsent__content {
        padding: 30px 40px;
        margin-bottom: 20px;
    }
}

.CookieConsent__icon {
    max-height: 80px;
    margin: 0 auto 20px;
    display: block;
}

.CookieConsent__title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

@media (min-width: 40em) {
    .CookieConsent__title {
        font-size: 22px;
    }
}

.CookieConsent__text {
    margin: 0;
    margin-bottom: 20px;
    font-size: 12px;
}

@media (min-width: 40em) {
    .CookieConsent__text {
        font-size: 14px;
    }
}

.CookieConsent__text a {
    color: inherit;
    text-decoration: underline;
    transition: opacity 0.2s ease-in-out;
}

.CookieConsent__text a:hover {
    opacity: 0.6;
}

.CookieConsent__options {
    margin-bottom: 20px;
}

.CookieConsent__option {
    margin-right: 20px;
}

.CookieConsent__checkbox {
}

.CookieConsent__checkbox-label {
    padding-left: 5px;
}

.CookieConsent__detail-toggle {
}

.CookieConsent__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.CookieConsent__actions > * {
    margin: 10px 10px 0;
}

.CookieConsent__action {
    padding: 15px 20px;
    display: inline-block;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    color: inherit;
    background: transparent;
    transition: transform 0.2s ease-in-out;

    flex: 0 0 auto;
}

@media (min-width: 40em) {
    .CookieConsent__action {
        font-size: 14px;
    }
}

.CookieConsent__action:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.CookieConsent__action--decline {
    text-decoration: underline;
}

.CookieConsent__action--accept {
    background: #000;
    color: #fff;
}
